.btn-primary {
    width: 50%;
    height: 50px;
    margin-left: 25%;
}

.navbar {
  opacity: 0.9;
}

#wineexclusive {
  width: 15%;
}

#beerexclusive {
  width: 15%;
}

#liquorexclusive {
  width: 15%;
}

#iclassexclusive {
  margin-left: 43%;
  padding-top: 5px;
}

#winedualstate {
  width: 15%;
}

#beerdualstate {
  width: 15%;
}

#liquordualstate {
  width: 15%;
}

#beerdomestic {
  width: 15%;
}

#beerseasonal {
  width: 15%;
}

#iclassdualstate {
  margin-left: 43%;
  padding-top: 5px;
}

#iclassdomestic {
  margin-left: 43%;
  padding-top: 5px;
}

#iclassseasonal {
  margin-left: 43%;
  padding-top: 5px;
}

label {
    font-size: 18px;
    display: block;
    text-align: center;
}

.col-md-2 {
    padding-bottom: 40px;
    padding-top: 20px;
}

#theWineForm {
    padding-top: 5px;
    width: 100%;
    margin-top: -2%;
    padding-bottom: 0;
}

.btn-group {
    margin-left: 63.0%;
    margin-top: -2.6%;
}

.selector {
    width: 175px;
    height: 35px;
}

#myHeader {
    width: 100%;
    margin: 0;
    padding-left: 20px;
    border-style: solid;
    border-width: 0px 0px 5px 0px;
}

#zeNav {
    padding: 0;
    padding-top: 30px;
    border-style: solid;
    border-right-width: 30px;
    border-left-width: 30px;
    border-top-width: 54px;
    border-bottom-width: 0;
}

#myContainer {
    padding-bottom: 10px;
    padding-top: 40px;
    border-style: solid;
    border-right-width: 30px;
    border-left-width: 30px;
    border-top-width: 0;
}

.createGroup {
    margin-left: 52%;
}

#invSearch {
    padding-top: 83px;
    padding-bottom: 150px;
    margin-left: 0%;
}

#searchLabel {
    padding-top: 4px;
    text-align: right;
}

img {
    cursor: pointer;
}

#wineHeader {
    margin-left: 38%;
    padding-bottom: 20px;
    margin-top: -1%;
}

#beerHeader {
    margin-left: 38%;
    padding-bottom: 20px;
    margin-top: -1%;
}

#liquorHeader {
    margin-left: 38%;
    padding-bottom: 20px;
    margin-top: -1%;
}

#mySearchBtn {
    height: 35px;
}

#mainSearchBtn {
    height: 35px;
    margin-left: 0%;
}

#wineCreater {
  margin-top: 12%;
  height: 35px;
  margin-left: 29%;
}

#beerCreater {
  margin-top: 12%;
  height: 35px;
  margin-left: 52%;
}

#liquorCreater {
  margin-top: 12%;
  height: 35px;
  margin-left: 50%;
}

.theRows {
  padding-top: 10px;
}

#lowView {
  border-style: solid;
  border-top-width: 100px;
  border-bottom-width: 500px;
  border-right-width: 50px;
  border-left-width: 50px;
}
