.btn-primary {
    width: 50%;
    height: 50px;
    margin-left: 25%;
}

#input100 {
    width: 20px;
    height: 20px;
    margin-left: 46%;
}

#input101 {
    width: 20px;
    height: 20px;
    margin-left: 46%;
}


#input17 {
    width: 20px;
    height: 20px;
    margin-left: 46%;
}

#input18 {
    width: 20px;
    height: 20px;
    margin-left: 46%;
}

#input19 {
    width: 20px;
    height: 20px;
    margin-left: 46%;
}

#input20 {
    width: 20px;
    height: 20px;
    margin-left: 46%;
}

#input21 {
    width: 20px;
    height: 20px;
    margin-left: 46%;
}

#input22 {
    width: 20px;
    height: 20px;
    margin-left: 46%;
}

#input23 {
    width: 20px;
    height: 20px;
    margin-left: 46%;
}

#input24 {
    width: 20px;
    height: 20px;
    margin-left: 46%;
}

#input25 {
    width: 20px;
    height: 20px;
    margin-left: 46%;
}

#input26 {
    width: 20px;
    height: 20px;
    margin-left: 46%;
}

#input27 {
    width: 20px;
    height: 20px;
    margin-left: 46%;
}

#input28 {
    width: 20px;
    height: 20px;
    margin-left: 46%;
}

#input29 {
    width: 20px;
    height: 20px;
    margin-left: 46%;
}

#input30 {
    width: 20px;
    height: 20px;
    margin-left: 46%;
}

#input31 {
    width: 20px;
    height: 20px;
    margin-left: 46%;
}

label {
    font-size: 18px;
    display: block;
    text-align: center;
}

.col-md-2 {
    padding-bottom: 40px;
}

.col-md-1 {
    width: 100%;
    text-align: center;
    padding-top: 10px;
}

#parent #popup1 {
    visibility: hidden;
}

#parent:hover #popup1 {
  visibility: visible;
  font-size: 14px;
}

#parent1 #popup2 {
  visibility: hidden;
}

#parent1:hover #popup2 {
  visibility: visible;
  font-size: 14px;
}

#parent2 #popup3 {
  visibility: hidden;
}

#parent2:hover #popup3 {
  visibility: visible;
  font-size: 14px;
}

#parent3 #popup4 {
  visibility: hidden;
}

#parent3:hover #popup4 {
  visibility: visible;
  font-size: 14px;
}

#parent4 #popup5 {
  visibility: hidden;
}

#parent4:hover #popup5 {
  visibility: visible;
  font-size: 14px;
}

#parent5 #popup6 {
  visibility: hidden;
}

#parent5:hover #popup6 {
    visibility: visible;
    font-size: 14px;
}

#parent6 #popup7 {
    visibility: hidden;
}

#parent6:hover #popup7 {
    visibility: visible;
    font-size: 14px;
}

#parent7 #popup8 {
  visibility: hidden;
}

#parent7:hover #popup8 {
    visibility: visible;
    font-size: 14px;
}

#parent8 #popup9 {
  visibility: hidden;
}

#parent8:hover #popup9 {
    visibility: visible;
    font-size: 14px;
}

#parent9 #popup10 {
  visibility: hidden;
}

#parent9:hover #popup10 {
    visibility: visible;
    font-size: 14px;
}

#parent10 #popup11 {
  visibility: hidden;
}

#parent10:hover #popup11 {
    visibility: visible;
    font-size: 14px;
}

#parent11 #popup12 {
  visibility: hidden;
}

#parent11:hover #popup12 {
    visibility: visible;
    font-size: 14px;
}

#parent12 #popup13 {
  visibility: hidden;
}

#parent12:hover #popup13 {
    visibility: visible;
    font-size: 14px;
}

#parent13 #popup14 {
  visibility: hidden;
}

#parent13:hover #popup14 {
    visibility: visible;
    font-size: 14px;
}
#parent14 #popup15 {
  visibility: hidden;
}

#parent14:hover #popup15 {
    visibility: visible;
    font-size: 14px;
}

#parent15 #popup16 {
  visibility: hidden;
}

#parent15:hover #popup16 {
    visibility: visible;
    font-size: 14px;
}

#parent16 #popup17 {
  visibility: hidden;
}

#parent16:hover #popup17 {
    visibility: visible;
    font-size: 14px;
}

#parent17 #popup18 {
    visibility: hidden;
}

#parent17:hover #popup18 {
    visibility: visible;
    font-size: 14px;
}

#parent18 #popup19 {
  visibility: hidden;
}

#parent18:hover #popup19 {
    visibility: visible;
    font-size: 14px;
}

#parent19 #popup20 {
  visibility: hidden;
}

#parent19:hover #popup20 {
    visibility: visible;
    font-size: 14px;
}
#parent20 #popup21 {
  visibility: hidden;
}

#parent20:hover #popup21 {
    visibility: visible;
    font-size: 14px;
}

#parent21 #popup22 {
  visibility: hidden;
}

#parent21:hover #popup22 {
  visibility: visible;
  font-size: 14px;
}

#parent22 #popup23 {
  visibility: hidden;
}

#parent22:hover #popup23 {
    visibility: visible;
  font-size: 14px;
}

#parent23 #popup24 {
  visibility: hidden;
}

#parent23:hover #popup24 {
    visibility: visible;
  font-size: 14px;
}

#parent24 #popup25 {
  visibility: hidden;
}

#parent24:hover #popup25 {
    visibility: visible;
  font-size: 14px;
}

#parent25 #popup26 {
  visibility: hidden;
}

#parent25:hover #popup26 {
    visibility: visible;
  font-size: 14px;
}

#parent26 #popup27 {
  visibility: hidden;
}

#parent26:hover #popup27 {
    visibility: visible;
  font-size: 14px;
}

#parent27 #popup28 {
  visibility: hidden;
}

#parent27:hover #popup28 {
    visibility: visible;
  font-size: 14px;
}

#parent28 #popup29 {
  visibility: hidden;
}

#parent28:hover #popup29 {
    visibility: visible;
  font-size: 14px;
}

#parent29 #popup30 {
  visibility: hidden;
}

#parent29:hover #popup30 {
    visibility: visible;
  font-size: 14px;
}

#theWineForm {
    padding-top: 5px;
    width: 100%;
}

.btn-group {
    margin-left: 63.0%;
    margin-top: -2.6%;
}

.selector {
    width: 175px;
    height: 35px;
}

#myHeader {
    width: 100%;
    margin: 0;
    padding-left: 20px;
    border-style: solid;
    border-width: 0px 0px 5px 0px;
}

#zeNav {
    padding-top: 65px;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
    border-style: solid;
    border-width: 0px 30px 0px 30px;
}

#myContainer {
    padding-top: 65px;
    padding-bottom: 40px;
    border-style: solid;
    border-width: 0px 30px 310px 30px;
}

.createGroup {
    margin-left: 52%;
}

#invSearch {
    padding-top: 83px;
    padding-bottom: 150px;
    margin-left: -5%;
}

#searchLabel {

}

img {
    cursor: pointer;
}

#wineHeader {
    margin-left: 38%;
    padding-bottom: 50px;
}

#beerHeader {
    margin-left: 38%;
    padding-bottom: 50px;
}

#liquorHeader {
    margin-left: 38%;
    padding-bottom: 50px;
}

#bar1 {
    padding-bottom: 30px;
}

#bar2 {
    padding-bottom: 30px;
}

#bar3 {
    padding-bottom: 30px;
}

#bar4 {
    padding-bottom: 30px;
}

#bar5 {
    padding-top: 30px;
}

#mySearchBtn {
    height: 35px;
}
